{% extends "admin/change_form.html" %}

{% load admin_urls %}

{% block object-tools-items %}
    {{ block.super }}
    {% if original %}
        <li>
            <a href="{% url opts|admin_urlname:'export_pdf' original.pk|admin_urlquote %}" class="historylink">
                Export PDF Laporan Manajemen
            </a>
        </li>
    {% endif %}
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="submit-row">
        <input type="submit" value="Jalankan Monte Carlo" class="default" name="_save">
        <p class="deletelink-box" style="float:none;margin:8px 0 0;color:#666;">
            Tombol ini menyimpan pengaturan dan menjalankan simulasi berdasarkan data multi metric.
        </p>
    </div>
{% endblock %}
